<div class="container">
	<div class="row">
		<div class="col-xs-12 ofsset-xs-1">
			<h1 class="text-center">Addresses</h1>
			<p class="text-center">Create new addresses from within <%=link_to "User"%> profiles</p>
			<br>
			<table class="table table-striped table-bordered">
					<tr>
						<th>ID</th>
						<th>User</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>Zipcode</th>
						<th>Orders</th>
						<th>Created</th>
						<th>SHOW</th>
						<th>EDIT</th>
						<th>DELETE</th>
					</tr>
					<%@addresses.each do |addr| %>
					<tr>
						<td><%=addr.id%></td>
						<td><%="#{addr.user.first_name} #{addr.user.last_name}" %></td>
						<td><%=addr.street_address %></td>
						<td><%=addr.city.name%></td>
						<td><%=addr.state.name%></td>
						<td><%=addr.zip_code%></td>
						<td><%=addr.user.orders.count%></td>
						<td><%=addr.created_at%></td>
						<td><%=link_to "Show", admin_user_address_path(addr.user.id, addr.id)%></td>
						<td><%=link_to "Edit" %></td>
						<td><%=link_to "Delete"%></td>
					</tr>
					<% end %>
			</table>		
		</div>
	</div>
</div>