<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center"><%="#{@address.user.first_name} #{@address.user.last_name}"%>'s Addresses</h1>
			
			<br>
			<div class="row">
			  <div class="col-xs-10 col-xs-offset-2">
				<p>Owner ID: <%=@address.user_id%></p>
				<p>Owner Name: <%="#{@address.user.first_name} #{@address.user.last_name}"%></p>
				<p>Street: <%=@address.street_address%></p>
				<p>City: <%=@address.city.name%></p>
				<p>State: <%=@address.state.name[0..1].upcase%></p>
				<p>Zip: <%=@address.zip_code%></p>
					
				<p><%=link_to "Edit"%></p>
				<p><%=link_to "Delete"%></p>
			  </div>
			</div>

			
		</div>
	</div>
</div>