<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">Order <%="#{@order.id}"%></h1>
			<h2 class="text-center">Logistical Information</h2>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-1">
			      <h4>Basic Information</h4>
			      
			      <br>
			      
			      <p>Customer ID: <%="#{@order.user_id}"%></p>
			      <p>Customer: <%=link_to "#{@order.user.first_name} #{@order.user.last_name} (click to view user)", admin_user_path(@order.user_id)%></p>
			      <p>Date Placed: <%=@order.created_at%></p>
			      <p># Products: <%=@order.products.count%></p>
			      <p>Order Value: $<%=@order.value %></p>
			      
			      <br>
			      
			      <h4>Shipping Address</h4>
			      <br>
			      
			      <p>Street: <%=@order.shipping_address.street_address%></p>
			      <p>City: <%=@order.shipping_address.city.name%></p>
			      <p>State: <%=@order.shipping_address.state.name[0..1].upcase%></p>
			      <br>
			      <h4>Billing Address</h4>
			      <p>Street: <%=@order.billing_address.street_address%></p>
			      <p>City: <%=@order.billing_address.city.name%></p>
			      <p>State: <%=@order.billing_address.state.name[0..1].upcase%></p>
			      <br>
			      <h4>Billing Card</h4>
			      <p>Last 4 Digits: <%=@order.user.credit_cards.first.card_number[-4..-1] %></p>
			      <br>
			      <p><%=link_to "Edit Order" %></p>
			      <p><%=link_to "Delete Order"%></p>

			      <br>
			      <div class="row">
			      	<div class="col-xs-12 col-xs-offset-4">
			      <h1 class="text-center">Order Contents</h1>
			      <br>
			      <table class="table table-striped table-bordered">
			      	<tr>
			      		<th>ProductID</th>
			      		<th>Product</th>
			      		<th>Quantity</th>
			      		<th>Price</th>
			      		<th>Total Price</th>
			      	</tr>
			      	<%@order.order_contents.each do |product| %>
			      	<tr>
			      		<td><%=product.product.id%></td>
			      		<td><%=product.product.name%></td>
			      		<td><%=product.quantity%></td>
			      		<td>$<%=product.product.price%></td>
			      		<td>$<%=product.value%></td>
			      	</tr>
			      	<% end %>
			      </table>
			  		</div>
			      </div>
			    </div>
		   </div>
		</div>
	</div>
</div>