<h1>New User</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-3">
		<%= form_for [:admin, @user], html: {class: 'form-horizontal'} do |f| %>

		<div class="form-group">
			<%= f.label "User ID:", class: "col-xs-2"%>
			<div class="col-xs-2">
				<%= display_if(@user.id) %>
			</div>
		</div>

		 <div class="field form-group">
	    <%= f.label :first_name, class: "col-xs-2" %>
	    <%= f.text_field :first_name, class: "col-xs-offset-2" %>
	  </div>

	  <div class="field form-group">
	    <%=f.label :last_name, class: "col-xs-2" %>
	    <%= f.text_field :last_name, class: "col-xs-offset-2"%>
	  </div>

	  <div class="field form-group" %>
	    <%= f.label :email, class: "col-xs-2" %>
	    <%= f.text_field :email, class: "col-xs-offset-2" %>
	  </div>

	   <%= f.submit "Create new user", class: "btn btn-default btn-primary col-xs-8 col-xs-offset-2"%>
     <% end %>

		</div>
	</div>
</div>