<div class="container main-nav">
<h4>Navigation Options</h4>
<ul class="nav nav-pills nav-stacked nav-fixed-left">
  <li class="nav-item">
    <%=link_to "Users", admin_users_path, :class => "nav-link active text-center"%>
  </li>
  <li class="nav-item">
    <%=link_to "Addresses", admin_addresses_path, :class=> "nav-link active text-center" %>
  </li>
  <li class="nav-item">
    <%=link_to "Orders", admin_orders_path, :class=> "nav-link active text-center" %>
  </li>
  <li class="nav-item">
    <%=link_to "Products", admin_products_path, :class => "nav-link active text-center" %>
  </li>
  <li class="nav-item">
   <%=link_to "Categories", admin_categories_path, :class => "nav-link active text-center" %> 
  </li>
  <hr>
  <li class="nav-item">
   <%=link_to "Analytics Dashborad", dashboard_path, :class => "nav-link active text-center" %>
  </li>

</ul>
</div>