<!DOCTYPE html>
<html>
<head>
  <title>VikingStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
  <h1 class="header">Viking Store Admin Portal</h1>
  </div>
  <%= render "admin/shared/navbar"%>

  <%= yield %>

</body>
</html>
